@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
  box-sizing: border-box;
}
*{
  color: #f7f7f7;
}
body {
  margin: 0;
  min-height: 100vh;
  background:#263238;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
}

.player-container {
  position:absolute;
  background: #516e7c3f;
  border-radius:10px;
  height: 430px;
  width: 400px;
}

.img-container {
  width: 300px;
  height: 200px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius:5px;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom:20px;
}

h3 {
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #d2d2d2;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}
.progress {
  background:royalblue;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
text-align: center;
}

.fas {
  font-size: 20px;
  color:#f7f7f7;
  margin:0px 15px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  color: royalblue;
}

.main-button {
  font-size: 30px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95%;
  }
  .img-container {
    width: 80%;
    height: 180px;
    position: relative;
    top: -50px;
    left: 35px;
  }
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}

/*  */
#particles-js{
  position: absolute;
  height:100vh;
  width:100%;
}