*{
    margin:0;
    padding:0;
    font-family: 'Montserrat';
    color: #29303b;
}
.under_nav{
height:500px;
background: url('./Image/bgg.jpg') center;
transform: rotate(180deg);
background-repeat: no-repeat;
background-size: cover;
}
.under-nav-filter{
    height:100%;
    transform: rotate(180deg);
    padding:0px 50px;
}
.call_action_txt{
    font-size:20px;
    color: #444;
    font-weight:400;
    letter-spacing:1px;
    text-transform:lowercase;
    word-spacing:3px;
    margin-bottom:70px;
}
.call_action_position,.service-itm-wraper{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.btn-call_action{
    background-color: #444;
    color: #ffff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius:3px;
}
/* About  */
@media screen and (max-width:900px){
    .service-title{
        margin-bottom:30px;
    }
    .service-iteam{
        margin:15px;
    }
    .slider{
        margin-top:70px;
    }
    .services{
        margin-bottom:70px;
        }
    .about-img{
        display:none;
    }
    .about-content{
        width:100%;
        text-align: center;
    }
}
.about-title{
    margin-bottom:50px;
    letter-spacing:1px;
    color:tomato;
}
.about-des{
    letter-spacing:1px;
    line-height:30px;
    color:#444;
    font-weight:0;
    font-family: sans-serif;
    margin:0px 20px;
}
@media screen and (min-width:901px){
    .service-title{
        margin-bottom:100px;
    }
    .service-iteam{
        margin:30px;
    }
    .slider{
        margin-top:100px;
    }
    .services{
        margin-bottom:150px;
        }
    .about-section{
        display:flex;
        margin:70px 50px;
    }
    .about-content{
        width:65%;
    }
    .about-img{
        height:300px;
        margin:50px;
    }
}
.about_in_Number{
    width:250px;
display: inline-block;
margin:20px;
}
.about_number_main_div{
    text-align: center;
}
.about_number{
    color: tomato;
    line-height:50px;
    font-size:25px;
}
/* Service */
.services{
padding:0px 20px;
text-align: center;
color:#444;
}
.service-title{
    font-size: 2rem;
    color:#444;
}
.service-iteam{
    height:150px;
    width:200px;
    display: inline-block;
    transition:.3s;
}
.service-iteam:hover{
transform: scale(1.1);
transition:.3s;
}
.service-iteam-title{
    font-size:17px;
}
.fa-code,.fa-palette,.fa-brain,.fa-mobile-alt,.fa-layer-group,.fa-infinity{
    font-size:30px;
    margin-bottom:20px;
}
.fa-code,.fa-palette,.fa-brain,.fa-mobile-alt,.fa-layer-group,.fa-infinity{
    font-size:30px;
    margin-bottom:20px;
}
/* Slider */
.slider{
    background-color: #444;
}
.swiper-container {
    text-align: center;
    padding:50px 20px 70px 20px;
  }
.slider_title{
    font-size:1.5rem;
    text-align: center;
    color:#fff;
    padding:50px 0px;
}
.company-patner-logo{
    height:55px;
}
/* Footer */
.footer{
    padding:50px 0px;
    background-color: #282c34;
    text-align: center;
}
.footer-logo{
    padding: 20px 0px;
    height:70px;
}
.phone_Number-ftr,.email-ftr{
color: gainsboro;
margin-left:5px;
}
.contact-dtls-ftr{
    display: inline-block;
    margin:10px;
}
.footerlinks,.copyright{
    margin-top:30px;
}
.footerlinks a i{
    font-size:25px;
    color: #dfdfdf;
    margin:10px;
}
.ftr-copyright{
    line-height:30px;
}
.contact-dtls-ftr i {
    font-size:17px;
    color: #dfdfdf;
    margin:5px;
}