
body{
    background-color: #29303b;
}
.Navigation{
    background-color: #fff;
    z-index:999;
    position: sticky;
    top: 0;
}
nav ul li{
list-style-type:none;
}
@media screen and (min-width:900px){
    .logo{
        height:75px;
    }
    .Navigation{
        display: flex;
        height:75px;
        justify-content:space-between;
    }
    .logo-bars{
        margin: auto 70px;
    }
    nav{
        width:400px;
margin-right:100px;
    }
    nav ul {
        display: flex;
        justify-content:space-between;
        height:100%;
    }
    ul li{
        margin:auto 0px;
    }
    .menu{
        font-size:14px;
        color:#282c34;
        text-decoration: none;
        letter-spacing:1px;
        font-weight: 600;
    }
    .menu:hover{
color: #282c34cc;
    }
    .times{
        display:none;
    }
}
@media screen and (max-width:899px){
    .Navigation{
        height:70px;
    }
    .fa-user-circle{
        font-size:35px;
        color: #282c34;
        margin: auto 20px auto 0px;
    }
    .profile{
        margin: auto 0px;
    }
.bar{
    height:3px;
    width:25px;
    margin:5px;
    background-color: #282c34;
}
.logo-bars{
    width: 100%;
    height:100%;
    display: flex;
    justify-content:space-between;
}
.menu{
    font-size:15px;
    color:#fff;
    text-decoration: none;
    letter-spacing:1px;
}
ul li {
    margin:15px 0px;
}
.logo{
    height:70px;
}
.bars{
    margin: auto 0px auto 20px;
}.logo-link{
    margin: auto 20px auto 0px;
}
nav{
position:fixed;
top:0;
background: url(./Image/bg.png);
background-color: #282c34;
height:100%;
width:100%;
transform: translateX(-1200px);
transition:.7s;
}
.nav_on_Click{
    transform: translateX(0px);
transition:.3s;
}
.fa-times{
    font-size:25px;
    color:#fff;
    position: absolute;
    right:50px;
    top:50px;
}
nav ul{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

}