
@media screen and (max-width:899px){
    .TopNav{
display: none;
    }
}
@media screen and (min-width:900px){
    .TopNav{
        height:30px;
        background-color: #282c34;
        color: #dfdfdf;
        font-size:14px;
        display: flex;
        justify-content:space-between;
    }
    .TopNav div{
    margin: auto 20px;
    }
    .topLinks a{
    display: inline-block;
    margin: 0px 10px;
    }
    .fa-twitter,.fa-facebook,.fa-youtube,.fa-instagram,.fa-linkedin,.fa-envelope,.fa-phone-alt{
        font-size:16px;
        color: #dfdfdf;
    }
    .fa-twitter:hover,.fa-facebook:hover,.fa-youtube:hover,.fa-instagram:hover,.fa-linkedin:hover,.phone_Number:hover,.email:hover{
    color: #cceabb;
    }
    .contact-dtls{
        display:inline-block;
    }
    .phone_Number,.email{
        margin-left:5px;
        cursor:context-menu;
    }
}